{% extends 'listings/base.html' %}

{% block content %}
<h1>Hello Django !</h1>


<section id="asteroid-last-approaches">
<h1>Liste des 5 derniers passage de l'atéroïde : {{asteroid_name}} </h1>
<table >
    <thead>
      <tr>
        <th>Date du passage</th>
        <th>Distance de la terre en équivalent Terre-Lune </th>
      </tr>
    </thead>
    <tbody>
    {% for asteroid in asteroid_information %}
        <tr>

            <td>{{asteroid.0}}</td><!-- Date du passage -->
            
            <td>{{asteroid.1|floatformat:0}}</td><!-- Distance de la terre en équivalent Terre-Lune -->
             
        </tr>
    {% endfor %}
   
    </tbody>
  </table>
</section>



{% endblock %}