{% load static %}
{% load sass_tags %}

<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% sass_src  'listings/style/main.scss' %}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        
        
    </head>
    <body>
        <nav id="navbar">
            <ul >
                <li><a href="/home/">Acceuil</a></li>
                <li><a href="/info/">Information</a></li>

            </ul>
        </nav>

        {% block content %}{% endblock %}

        <script src="{% static 'listings/app.js' %}"></script>

    </body>
</html>

